/* google fonts family */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header section styles */
header {
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
}

.banner-container {
    text-align: right;
    padding: 216px 230px 0 876px;
}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 32px 0;
}

.white-btn {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    width: 160px;
}

/* section common styles */
section {
    margin: 130px 206px;
}

/* my failures and tips to succeed section styles */
.section-container {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    gap: 87px;
}

.section-img {
    width: 569px;
    /* height: 723px; */
}

.section-details {
    /* margin-right: 116px; */
    width: 416px;
}

.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    margin: 24px 0 16px 0;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

.check-text {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.fa-check {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #16D887;
    /* margin-right: 10px; */
}

/* my plans section styles */
.plan-container {
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.plan {
    width: 286px;
}

.plan-img {
    width: 93px;
}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin: 24px 0 16px 0;
}

.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* positive mindset section styles */
.positive-mindset-container {
    background-image: url(../images/watch.png), url(../images/gradient1.png);
    background-blend-mode: multiply;
    border-radius: 8px;
    height: 300px;
}

.positive-mindset-details {
    width: 459px;
    padding: 59px 0 59px 64px;
}

.positive-mindset-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}