/* google fonts family */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header section styles */
header {
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
}

.banner-container {
    text-align: right;
    padding: 216px 230px 0 876px;
}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 32px 0;
}

.white-btn {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

section {
    margin: 130px 206px;
}

/* My failures and Tips to succeed section styles */
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}

.section-img {
    width: 569px;
    /* height: 723px; */
}

.section-details {
    /* margin-right: 116px; */
    width: 416px;
}

.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    margin: 24px 0 16px 0;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

.check-text {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.fa-check {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #16D887;
    /* margin-right: 10px; */
}